<section class="pb-0">
  <!-- Container -->
  <div class="container">
    <!-- Pre footer -->
    <div class="pre-footer">
      <ul class="list">
        <li class="list-head">
          <h6 class="font-weight-bold">Sobre la librería</h6>
        </li>
        <li class="list-body">
          <p>
            La biblioteca de la Universidad Tecnológica de Morelia es un recurso fundamental diseñado para enriquecer la experiencia educativa de los alumnos. Como un centro de conocimiento integral, la biblioteca se erige como un espacio donde los estudiantes pueden acceder a una amplia gama de recursos académicos y literarios para potenciar su aprendizaje y desarrollo personal.
          </p>
          <a href="#"
            ><strong class="text-primary">Universidad Tecnológica de Morelia</strong>
            
          
        </li>
      </ul>
      <ul class="list">
        <li class="list-head">
          <h6 class="font-weight-bold">ENCUENTRANOS EN:</h6>
        </li>
        <li class="list-body">
          <div class="row">
            <div class="col">
              <a href="https://ut-morelia.edu.mx/">Universidad Tecnológica de Morelia</a>

            </div>
            <div class="col">
              <a href="https://www.facebook.com/UTMMORELIA">Facebook UTM</a>

            </div>
          </div>
        </li>
      </ul>
      <ul class="list">
        <li class="list-head">
          <h6 class="font-weight-bold">DOMICILIO</h6>
        </li>
        <li class="list-body">
          <p>
            Av. Vicepresidente Pino Suarez No. 750, Col. Ciudad Industrial, C.P. 58200, Morelia, Michoacán.</p>
          <p>
            <i class="ti-location-pin"></i> <a href="https://g.page/utmorelia?share">Localizacion</a> 
          </p>
          <p><i class="ti-email"></i> informacion@ut-morelia.edu.mx</p>
          <div class="social-links">
            <a href="https://www.facebook.com/UTMMORELIA" class="link"
              ><i class="ti-facebook"></i
            ></a>
            <a href="https://twitter.com/UTMorelia" class="link"
              ><i class="ti-twitter-alt"></i
            ></a>
            <a href="https://www.instagram.com/explore/locations/862983174/utm-universidad-tecnologica-de-morelia/" class="link"
              ><i class="ti-instagram"></i
            ></a>
            
          </div>
        </li>
      </ul>
    </div>
    <!-- End of Pre footer -->

    <!-- foooter -->
    <footer class="footer">
      <p>
        Copyright
        <script>
          document.write(new Date().getFullYear());
        </script>
        &copy; 
      </p>
    </footer>
    <!-- End of Footer-->
  </div>
  <!--End of Container -->
</section>
