<!DOCTYPE html>
<html lang="en">

<%- include('../views/elements/header_nav.ejs'); %><!-- End of Page Navbar -->



    <!-- section CATÁLOGO -->
    <section>
        <!-- Container -->
       <div class="container">
            <div class="card-deck mt-3">
                <div class="container text-center">
                </div>
                <div class="card-deck mt-3">
                    <div class="container text-center">
                        <h1>Catálogo </h1>
                    </div>
                    <div class="shell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="wsk-cp-product">
                                        <div class="wsk-cp-img">
                                            <img src="https://www.gandhi.com.mx/media/catalog/product/9/7/9789587627206.jpg?optimize=high&bg-color=255,255,255&fit=bounds&height=478&width=300&canvas=300:478"
                                                alt="Product" class="img-responsive" />
                                        </div>
                                        <div class="wsk-cp-text">
                                            <div class="category">
                                                <span class="btn-leer" onclick=go href="../public_html/ebook.html">Leer
                                                    más</span>
                                            </div>
                                            <div class="title-product">
                                                <h3>Lógica De Programación</h3>
                                            </div>
                                            <div class="description-prod">
                                                <p>Muchas personas confunden la Programación con la Lógica
                                                    de Programación. La primera involucra el conocimiento de técnicas e
                                                    instrucciones de un determinado lenguaje
                                                    a través de los cuales se hace sencillo lograr que el computador
                                                    obtenga unos resultados
                                                    mucho más rápido que nosotros.</p>
                                            </div>
                                            <p>Autor:Omar Iván Trejos Buritica </p>
                                            <p>Año: 2000</p>
                                            <div class="card-footer">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="wsk-cp-product">
                                        <div class="wsk-cp-img">
                                            <img src="https://anayamultimedia.es/imagenes/libros/grande/9788441543539-introduccion-a-la-programacion.jpg"
                                                alt="Product" class="img-responsive" />
                                        </div>
                                        <div class="wsk-cp-text">
                                            <div class="category">
                                                <span class="btn-leer"
                                                    onclick="alert('Aqui nos mandaria a la vista del libro')">Leer
                                                    más</span>
                                            </div>
                                            <div class="title-product">
                                                <h3>Introducción a la programación</h3>
                                            </div>
                                            <div class="description-prod">
                                                <p>Vivimos rodeados de dispositivos 'inteligentes' que se caracterizan
                                                    por ser, en mayor o menor medida, programables.</p>
                                            </div>
                                            <p>Autor: Francisco Charte</p>
                                            <p>Año: 1999</p>
                                            <div class="card-footer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="wsk-cp-product">
                                        <div class="wsk-cp-img">
                                            <img src="https://www.elsotano.com/imagenes_grandes/9789587/978958792268.JPG"
                                                alt="Product" class="img-responsive" />
                                        </div>
                                        <div class="wsk-cp-text">
                                            <div class="category">
                                                <span class="btn-leer"
                                                    onclick="alert('Aqui nos mandaria a la vista del libro')">Leer
                                                    más</span>
                                            </div>
                                            <div class="title-product">
                                                <h3>Lógica De Programación. Solucionario En Pseudocódigo</h3>
                                            </div>
                                            <div class="description-prod">
                                                <p>En este libro usted encontrará soluciones posibles escritas en
                                                    seudocódigo, según los estándares
                                                    utilizados en mi libro Lógica de programación, y de forma que se
                                                    pueda fomentar el desarrollo de
                                                    la lógica que se utiliza en la programación de computadores desde
                                                    una perspectiva general sin
                                                    estar atada a ningún tipo de lenguaje de programación específico.
                                                </p>
                                            </div>
                                            <p>Autor: Trejos Buritica, Omar Ivan</p>
                                            <p>Año: 2021 </p>
                                            <div class="card-footer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="wsk-cp-product">
                                        <div class="wsk-cp-img">
                                            <img src="https://www.publicacionesupec.org/public/presses/1/submission_64_63_coverImage_es_ES_t.jpg"
                                                alt="Product" class="img-responsive" />
                                        </div>
                                        <div class="wsk-cp-text">
                                            <div class="category">
                                                <span class="btn-leer"
                                                    onclick="alert('Aqui nos mandaria a la vista del libro')">Leer
                                                    más</span>
                                            </div>
                                            <div class="title-product">
                                                <h3>Fundamentos de programación utilizando PSeInt</h3>
                                            </div>
                                            <div class="description-prod">
                                                <p>La presente obra está dirigida a estudiantes y profesionales de
                                                    informática o áreas afines.
                                                    Su objetivo es proporcionar una guía teórica y práctica de fácil uso
                                                    y, a su vez, rigurosa
                                                    en la programación de computadoras.</p>
                                            </div>
                                            <p>Autor: Iván García Santillán </p>
                                            <p>Año: 2014</p>
                                            <div class="card-footer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="wsk-cp-product">
                                        <div class="wsk-cp-img">
                                            <img src="https://libreriapensar.com/wp-content/uploads/2020/04/products-1637.jpg" alt="Product" class="img-responsive" />
                                        </div>
                                        <div class="wsk-cp-text">
                                            <div class="category">
                                                <span class="btn-leer"
                                                    onclick="alert('Aqui nos mandaria a la vista del libro')">Leer
                                                    más</span>
                                            </div>
                                            <div class="title-product">
                                                <h3>Mecatrónica Sistemas De Control Electrónico En La Ingeniería Mecánica Y Eléctrica 5ta Edición</h3>
                                            </div>
                                            <div class="description-prod">
                                                <p>Es un texto moderno con el enfoque multidisciplinario de la ingeniería, para una mejor comprensión y diseño de sistemas 
                                                    mecatrónicos, dadas las necesidades actuales de las ingeniería mecatrónica, robótica, electrónica, sistemas, eléctrica, 
                                                    industrial, computación e informática, ingeniería de diseño y automatización electrónica.</p>
                                            </div>
                                            <p>Autor: William Bolton </p>
                                            <p>Año: 2013</p>
                                            <div class="card-footer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="wsk-cp-product">
                                        <div class="wsk-cp-img">
                                            <img src="https://m.media-amazon.com/images/I/51bOo9r4RJL._SX379_BO1,204,203,200_.jpg" alt="Product" class="img-responsive" />
                                        </div>
                                        <div class="wsk-cp-text">
                                            <div class="category">
                                                <span class="btn-leer"
                                                    onclick="alert('Aqui nos mandaria a la vista del libro')">Leer
                                                    más</span>
                                            </div>
                                            <div class="title-product">
                                                <h3>Mantenimiento. Técnicas y aplicaciones industriales</h3>
                                            </div>
                                            <div class="description-prod">
                                                <p>Texto de fácil lectura y comprensión que busca contribuir al aprendizaje significativo del arte del mantenimiento 
                                                    industrial, apoyándose en modelos aplicados a nivel industrial. </p>
                                            </div> 
                                            <p>Autor: González, Víctor</p>
                                            <p>Año: 2017</p>
                                            <div class="card-footer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="wsk-cp-product">
                                        <div class="wsk-cp-img">
                                            <img src="https://m.media-amazon.com/images/I/51Bj-Cl0ULL._SX258_BO1,204,203,200_QL70_ML2_.jpg" alt="Product" class="img-responsive" />
                                        </div>
                                        <div class="wsk-cp-text">
                                            <div class="category">
                                                <span class="btn-leer"
                                                    onclick="alert('Aqui nos mandaria a la vista del libro')">Leer
                                                    más</span>
                                            </div>
                                            <div class="title-product">
                                                <h3>Cocinología: La Ciencia de Cocinar</h3>
                                            </div>
                                            <div class="description-prod">
                                                <p>¡Utiliza la ciencia y cocina como un chef! Descubre que no hace falta marinar la carne toda la noche, que tener en remojo las 
                                                    especias las hace más aromáticas, que los frutas secos se tuestan mejor en el microondas y que la sal te ayuda a lograr huevos 
                                                    escalfados perfectos.</p>
                                            </div>
                                            <p>Autor: </p>
                                            <p>Año: </p>
                                            <div class="card-footer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="wsk-cp-product">
                                        <div class="wsk-cp-img">
                                            <img src="https://m.media-amazon.com/images/I/412voPXrILL._SX331_BO1,204,203,200_.jpg" alt="Product" class="img-responsive" />
                                        </div>
                                        <div class="wsk-cp-text">
                                            <div class="category">
                                                <span class="btn-leer"
                                                    onclick="alert('Aqui nos mandaria a la vista del libro')">Leer
                                                    más</span>
                                            </div>
                                            <div class="title-product">
                                                <h3>Biotecnología Historia, Aplicaciones e Impacto</h3>
                                            </div>
                                            <div class="description-prod">
                                                <p>Cuando se habla de Biotecnología frecuentemente se hace referencia a procesos que involucran técnicas de Ingeniería Genética,
                                                     como la transgénesis. 
                                                </p>
                                            </div>
                                            <p>Autor: </p>
                                            <p>Año: </p>
                                            <div class="card-footer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Container -->
    </section><!-- End of Section -->


    <!-- Section -->
    <%- include('../views/elements/footer.ejs'); %>
    <!-- End of Section -->

    <!-- core  -->
    <script src="/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap affix -->
    <script src="/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Creative Design js -->
    <script src="/js/creative-design.js"></script>

</body>

</html>