<!DOCTYPE html>
<html lang="en">

<%- include('../views/elements/header_nav.ejs'); %><!-- End of Page Navbar -->

    <!-- section CATÁLOGO -->
    <section>
        <!-- Container -->
        <div class="container">
            <div class="card-deck mt-3">
                <div class="container text-center">
                </div>
            <div class="card-deck mt-3">
                <div class="container text-center">
                    <h1>E-books</h1>
                </div>
                <div class="shell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="wsk-cp-product">
                                    <div class="wsk-cp-img">
                                        <img src="/imgs/libro11.jfif" alt="Product" class="img-responsive" />
                                    </div>
                                    <div class="wsk-cp-text">
                                        <div class="category">
                                            <span class="btn-leer"
                                                onclick="alert('Aqui nos mandaria a la vista del libro')">Leer
                                                más</span>
                                        </div>
                                        <div class="title-product">
                                            <h3>My face not my heart</h3>
                                        </div>
                                        <div class="description-prod">
                                            <p>Description Product tell me how to change playlist height size like 600px
                                                in html5 player. player good work now check this link</p>
                                        </div>
                                        <div class="card-footer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="wsk-cp-product">
                                    <div class="wsk-cp-img">
                                        <img src="/imgs/libro12.jfif" alt="Product" class="img-responsive" />
                                    </div>
                                    <div class="wsk-cp-text">
                                        <div class="category">
                                            <span class="btn-leer"
                                                onclick="alert('Aqui nos mandaria a la vista del libro')">Leer
                                                más</span>
                                        </div>
                                        <div class="title-product">
                                            <h3>My face not my heart</h3>
                                        </div>
                                        <div class="description-prod">
                                            <p>Description Product tell me how to change playlist height size like 600px
                                                in html5 player. player good work now check this link</p>
                                        </div>
                                        <div class="card-footer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="wsk-cp-product">
                                    <div class="wsk-cp-img">
                                        <img src="/imgs/libro13.gif" alt="Product" class="img-responsive" />
                                    </div>
                                    <div class="wsk-cp-text">
                                        <div class="category">
                                            <span class="btn-leer"
                                                onclick="alert('Aqui nos mandaria a la vista del libro')">Leer
                                                más</span>
                                        </div>
                                        <div class="title-product">
                                            <h3>My face not my heart</h3>
                                        </div>
                                        <div class="description-prod">
                                            <p>Description Product tell me how to change playlist height size like 600px
                                                in html5 player. player good work now check this link</p>
                                        </div>
                                        <div class="card-footer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="wsk-cp-product">
                                    <div class="wsk-cp-img">
                                        <img src="/imgs/libro14.jfif" alt="Product" class="img-responsive" />
                                    </div>
                                    <div class="wsk-cp-text">
                                        <div class="category">
                                            <span class="btn-leer"
                                                onclick="alert('Aqui nos mandaria a la vista del libro')">Leer
                                                más</span>
                                        </div>
                                        <div class="title-product">
                                            <h3>My face not my heart</h3>
                                        </div>
                                        <div class="description-prod">
                                            <p>Description Product tell me how to change playlist height size like 600px
                                                in html5 player. player good work now check this link</p>
                                        </div>
                                        <div class="card-footer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="wsk-cp-product">
                                    <div class="wsk-cp-img">
                                        <img src="/imgs/libro11.jfif" alt="Product" class="img-responsive" />
                                    </div>
                                    <div class="wsk-cp-text">
                                        <div class="category">
                                            <span class="btn-leer"
                                                onclick="alert('Aqui nos mandaria a la vista del libro')">Leer
                                                más</span>
                                        </div>
                                        <div class="title-product">
                                            <h3>My face not my heart</h3>
                                        </div>
                                        <div class="description-prod">
                                            <p>Description Product tell me how to change playlist height size like 600px
                                                in html5 player. player good work now check this link</p>
                                        </div>
                                        <div class="card-footer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="wsk-cp-product">
                                    <div class="wsk-cp-img">
                                        <img src="/imgs/libro12.jfif" alt="Product" class="img-responsive" />
                                    </div>
                                    <div class="wsk-cp-text">
                                        <div class="category">
                                            <span class="btn-leer"
                                                onclick="alert('Aqui nos mandaria a la vista del libro')">Leer
                                                más</span>
                                        </div>
                                        <div class="title-product">
                                            <h3>My face not my heart</h3>
                                        </div>
                                        <div class="description-prod">
                                            <p>Description Product tell me how to change playlist height size like 600px
                                                in html5 player. player good work now check this link</p>
                                        </div>
                                        <div class="card-footer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="wsk-cp-product">
                                    <div class="wsk-cp-img">
                                        <img src="/imgs/libro13.gif" alt="Product" class="img-responsive" />
                                    </div>
                                    <div class="wsk-cp-text">
                                        <div class="category">
                                            <span class="btn-leer"
                                                onclick="alert('Aqui nos mandaria a la vista del libro')">Leer
                                                más</span>
                                        </div>
                                        <div class="title-product">
                                            <h3>My face not my heart</h3>
                                        </div>
                                        <div class="description-prod">
                                            <p>Description Product tell me how to change playlist height size like 600px
                                                in html5 player. player good work now check this link</p>
                                        </div>
                                        <div class="card-footer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="wsk-cp-product">
                                    <div class="wsk-cp-img">
                                        <img src="/imgs/libro14.jfif" alt="Product" class="img-responsive" />
                                    </div>
                                    <div class="wsk-cp-text">
                                        <div class="category">
                                            <span class="btn-leer"
                                                onclick="alert('Aqui nos mandaria a la vista del libro')">Leer
                                                más</span>
                                        </div>
                                        <div class="title-product">
                                            <h3>My face not my heart</h3>
                                        </div>
                                        <div class="description-prod">
                                            <p>Description Product tell me how to change playlist height size like 600px
                                                in html5 player. player good work now check this link</p>
                                        </div>
                                        <div class="card-footer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Container -->
    </section><!-- End of Section -->


    <!-- Section -->
    <%- include('../views/elements/footer.ejs'); %>
    <!-- End of Section -->

    <!-- core  -->
    <script src="/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap affix -->
    <script src="/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Creative Design js -->
    <script src="/js/creative-design.js"></script>

</body>

</html>