<!DOCTYPE html>
<html lang="en">

<%- include('../views/elements/header_nav.ejs'); %><!-- End of Page Navbar -->

    <!-- section CATÁLOGO -->
    <section>
        <!-- Container -->
        <div class="container">
            <div class="card-deck mt-3">
                <div class="container text-center">
                </div>
            <div class="card-deck mt-3">
                <div class="container text-center">
                    <h1>CENTRO DE INFORMACIÓN Y DOCUMENTACIÓN</h1>
                </div>


                <div class="shell">
                    <div class="container">
                                    <!-- Introduccion biblioteca wrapper -->
            <div class="about-wrapper">
    
                <div class="content">
                    
                    <!-- row -->
                    <div class="row">
                        <div class="text-align">
                            <p>LOS BENEFICIARIOS DE LOS SERVICIOS PROPORCIONADOS POR EL CENTRO DE INFORMACIÓN SERÁN: ALUMNOS, PERSONAL DOCENTE, ADMINISTRATIVO Y PUBLICO EN GENERAL.</p>
                            <p>EL CENTRO DE INFORMACIÓN Y DOCUMENTACIÓN (CD) FUNCIONA CON EL SISTEMA DE ESTANTERÍA ABIERTA.</p>
                            <p>EL USUARIO</p>
                            <p>1.     INTERNO: SE REGISTRARÁ CON LA CREDENCIAL DE LA INSTITUCIÓN VIGENTE.</p>
                            <p>2.     EXTERNO: SE IDENTIFICARÁ MEDIANTE LA CREDENCIAL DE ELECTOR VIGENTE.</p>
                        </div>
        
                    </div><!-- End of Row -->
                </div>
            </div><!-- End of About Wrapper -->
                   
                    </div>
                </div>

                <div class="shell">
                    <div class="container">
                                    <!-- Prestamo wrapper -->
            <div class="about-wrapper">
                <div class="after">
                    <h1> Préstamos </h1>
                </div>
                <div class="content">
                    <h5 class="title mb-3">PRÉSTAMOS</h5>
                    <!-- row -->
                    <div class="row">
                        <div class="col">
                            <p>CON EL FIN DE CONTAR CON UN MEJOR SERVICIO, EL USUARIO SE RESPONSABILIZA DEL MATERIAL QUE LE SEA PROPORCIONADO PARA CONSULTA BAJO CUALQUIER TIPO DE PRÉSTAMO Y RESPETAR LAS FECHAS QUE SE ESTABLEZCAN PARA SU DEVOLUCIÓN.</p>
                            <p>1.	PRÉSTAMO A DOMICILIO: ESTE SERVICIO FUNCIONA ÚNICA Y EXCLUSIVAMENTE PARA EL ALUMNO, DOCENTE Y ADMINISTRATIVO, PUDIENDO OBTENER 3 EJEMPLARES DE TÍTULO DIFERENTE CON UN PERIODO DE 3 DÍAS COMO MÁXIMO.</p>
                            <p>2.	NO SE PODRÁ PRESTAR UN LIBRO, SI SOLO EXISTE UN EJEMPLAR DEL MISMO.</p>

                        </div>
                        <div class="col">
                            <p>3.	EL PRÉSTAMO ES INTRANSFERIBLE Y LA PERSONA QUE FIRME EL COMPROBANTE SE HARÁ RESPONSABLE DEL BUEN USO DEL EJEMPLAR Y DE LA DEVOLUCIÓN A TIEMPO.</p>
                            <p>4.	LAS OBRAS DE CONSULTA COMO: ENCICLOPEDIAS, DICCIONARIOS, TESIS, MATERIAL AUDIOVISUAL, AUDIOCASETES, DISCOS COMPACTOS, MATERIAL DE RESERVA NO ESTÁ SUJETO A PRÉSTAMO A DOMICILIO.</p>

                        </div>
                    </div><!-- End of Row -->
                </div>
            </div><!-- End of About Wrapper -->
                   
                    </div>
                </div>

                <div class="shell">
                    <div class="container">
                                    <!-- Control de servicio wrapper -->
            <div class="about-wrapper">
                <div class="after">
                    <h1> Servicios </h1>
                </div>
                <div class="content">
                    <h5 class="title mb-3">CONTROL DE SERVICIO</h5>
                    <!-- row -->
                    <div class="row">
                        <div class="col">
                            <p>1.	EL CID CONTIENE COMO OBJETIVO CONTRIBUIR A PRESERVAR EL MOBILIARIO, EQUIPO Y SERVICIOS DEL CENTRO Y SUJETARSE A LOS MECANISMOS DE CONTROL, SEGURIDAD Y VIGILANCIA QUE SE ESTABLEZCAN.</p>
                            <p>2.	EL USUARIO DEBER AGUARDAR RESPETO Y CONSIDERACIÓN A LOS DEMÁS USUARIOS Y AL PERSONAL DEL CENTRO DE INFORMACIÓN.</p>

                        </div>
                        <div class="col">
                            <p>3.	EVITARÁ HABLAR EN VOZ ALTA O FORMAR GRUPOS QUE ALTEREN EL ORDEN.</p>
                            <p>4.	QUEDA PROHIBIDO DENTRO DE LAS INSTALACIONES FUMAR, INGERIR CUALQUIER TIPO DE BEBIDA O ALIMENTO.</p>

                        </div>
                    </div><!-- End of Row -->
                </div>
            </div><!-- End of About Wrapper -->
                   
                    </div>
                </div>

                <div class="shell">
                    <div class="container">
                                    <!-- Consulta electronica wrapper -->
            <div class="about-wrapper">
                <div class="after">
                    <h1> Consulta </h1>
                </div>
                <div class="content">
                    <h5 class="title mb-3">SALA DE CONSULTA ELECTRÓNICA</h5>
                    <!-- row -->
                    <div class="row">
                        <p>EL SERVICIO DE INTERNET NO TIENE COSTO ALGUNO PARA ALUMNO, ADMINISTRATIVO Y DOCENTE.</p>
                        <p>1.	NO DEBERÁ ESTAR MÁS DE 1 PERSONA POR MÁQUINA.</p>
                        <p>2.	EL USO DEL SERVICIO DE LAS MAQUINAS, TANTO PARA INTERNET COMO PARA OTRO PROGRAMA ES DE 30 MINUTOS Y POR RESPETO A LOS DEMÁS USUARIOS DEBERÁ RESPETAR DICHO TÉRMINO BAJO RIESGO DE SUFRIR ALGUNA SANCIÓN.</p>

                    </div><!-- End of Row -->
                
                </div>
            </div><!-- End of About Wrapper -->

            <div class="shell">
                <div class="container">
                                <!-- Sanciones wrapper -->
        <div class="about-wrapper">
            <div class="after">
                <h1> Sanción </h1>
            </div>
            <div class="content">
                <h5 class="title mb-3">SANCIONES</h5>
                <!-- row -->
                <div class="row">
                    <div class="col">
                        <p>1.	EL USUARIO QUE MALTRATE CUALQUIER MATERIAL PROPIEDAD DEL CENTRO, SE LE SANCIONARA CON EL PAGO DEL COSTO ACTUAL DEL MISMO.</p>
                        <p>2.	A LA PERSONA QUE PIERDA CUALQUIER MATERIAL DEBERÁ DE CUBRIR EL IMPORTE DEL MISMO EN UN PLAZO NO MAYOR DE 15 DÍAS NATURALES.</p>
                        <p>3.	EL USUARIO INTERNO QUE NO CUBRA SU ADEUDO NO TENDRÁ DERECHO A EXÁMENES ORDINARIOS, FINALES O EXTRAORDINARIOS. ADEMÁS, CUBRIRÁ UNA CUOTA DE $5.00 PESOS POR CADA DÍA DE RETRASO, EL CUAL SERÁ PAGADO EN CAJA.</p>
                    </div>
                    <div class="col">
                        <p>4.	EL USUARIO PODRÁ SER SUSPENDIDO DEFINITIVAMENTE EN CASO DE:</p>
                        <p>•	QUE INCURRA EN FALTAS AL REGLAMENTO.</p>
                        <p>•	ENTREGUE EL MATERIAL MUTILADO.</p>
                        <p>•	SUSTRAIGA EL MATERIAL DEL CENTRO SIN HABER REALIZADO EL TRÁMITE.</p>
                        <p>•	AGREDA FÍSICA O VERBALMENTE AL PERSONAL DEL CENTRO.</p>

                    </div>
                </div><!-- End of Row -->
            </div>
        </div><!-- End of About Wrapper -->
               
                </div>
            </div>


            <div class="shell">
                <div class="container">
                                <!-- Reglamento biblioteca wrapper -->
        <div class="about-wrapper">
            <div class="after">
                <h1> Las reglas </h1>
            </div>
            <div class="content">
                <h5 class="title mb-3">REGLAMENTO DE LA BIBLIOTECA</h5>
                <!-- row -->
                <div class="row">
                    <div class="col">
                        <p>AL ENTRAR DEBERÁN ENTREGAR LA CREDENCIAL VIGENTE A LAS PERSONAS ENCARGADAS DEL CENTRO DE INFORMACIÓN (CID), ASÍ COMO TAMBIÉN ENTREGARÁN LAS MOCHILAS EN EL MOSTRADOR Y OBTENER EL NÚMERO DE GUARDAOBJETOS QUE DEVOLVERÁ AL TÉRMINO DEL SERVICIO.</p>
                        <p>PRÉSTAMO INTERNO. ESTE SERVICIO FUNCIONARÁ CON EL SISTEMA DE ESTANTERÍA ABIERTA, Y POSTERIORMENTE DEPOSITAR EL MATERIAL CONSULTADO EN EL LUGAR QUE LE INDIQUE EL ENCARGADO DEL CID.</p>
                        <p>PRÉSTAMO DE LIBROS. EL CUAL SERÁ MÁXIMO DE 3 EJEMPLARES DIFERENTES Y POR UN PERIODO DE 3 DÍAS COMO MÁXIMO.</p>
                        <p>LAS OBRAS, TESIS, MATERIAL, AUDIOVISUAL, AUDIOCASETES, DISCOS COMPACTOS, OBRAS AGOTADAS, SON MATERIALES NO SUJETOS A PRÉSTAMOS A DOMICILIO.</p>
                        <p>LOS USUARIOS EXTERNOS DEBERÁN IDENTIFICARSE MEDIANTE SU CREDENCIAL DE ELECTOR VIGENTE.</p>
                        <p>LOS PRÉSTAMOS SON INTRANSFERIBLES Y LA PERSONA QUE FIRME EL COMPROBANTE SE HARÁ RESPONSABLE DEL BUEN USO DEL EJEMPLAR Y DE LA DEVOLUCIÓN A TIEMPO.</p>
                        <p>RESPONSABILIZARSE DEL MATERIAL Y LOS ACERVOS QUE LE SEAN PROPORCIONADOS PARA CONSULTA BAJO CUALQUIER TIPO DE PRÉSTAMO Y RESPETAR LAS FECHAS QUE SE ESTABLEZCAN PARA SU DEVOLUCIÓN.</p>
                        <p>CONTRIBUIR A PRESERVAR EL MOBILIARIO, EQUIPO Y ACERVOS DEL CENTRO Y SUJETARSE A LOS MECANISMOS DE CONTROL, SEGURIDAD Y VIGILANCIA QUE SE ESTABLEZCAN.</p>
                        <p>GUARDAR RESPETO Y CONSIDERACIÓN A LOS DEMÁS USUARIOS AL PERSONAL DEL CENTRO DE INFORMACIÓN.</p>
                        <p>EVITAR HABLAR EN VOZ ALTA O FORMAR GRUPOS QUE ALTEREN EL ORDEN.</p>
                        <p>NO DEBERÁN ESTAR MÁS DE 2 PERSONAS EN UNA MÁQUINA.</p>
                    </div>
                    <div class="col">
                        <p>ESTÁ PROHIBIDO EN EL CENTRO, INGERIR CUALQUIER BEBIDA, ALIMENTO Y FUMAR.</p>
                        <p>EL USUARIO QUE MALTRATE CUALQUIER MATERIAL PROPIEDAD DEL CENTRO, SE LE SANCIONARA CON EL PAGO DEL COSTO ACTUAL DEL MISMO.</p>
                        <p>LA PERSONA QUE PIERDA CUALQUIER MATERIAL, DEBERÁ DE CUBRIR EL IMPORTE DEL MISMO EN UN PLAZO NO MAYOR DE 15 DÍAS NATURALES.</p>
                        <p>EL USUARIO INTERNO QUE NO CUBRA SU ADEUDO NO TENDRÁ DERECHO A EXÁMENES ORDINARIOS, FINALES O EXTRAORDINARIOS. ADEMÁS, CUBRIRÁ UNA CUOTA POR CADA DÍA DE RETRASO, POR LO QUE SERÁ SEÑALADA POR EL DEPARTAMENTO DE SERVICIOS ESCOLARES.</p>
                        <p>EL USUARIO PODRÁ SER SUSPENDIDO DEFINITIVAMENTE EN CASO DE:</p>
                        <ol>
                            <li>ACUMULE TRES SUSPENSIONES DURANTE UN CUATRIMESTRE.</li>
                            <li>ENTREGUE MATERIAL MUTILADO.</li>
                            <li>SUSTRAIGA EL MATERIAL DEL CENTRO SIN HABER REALIZADO EL TRÁMITE.</li>
                            <li>AGREDA FÍSICA O VERBALMENTE AL PERSONAL DEL CENTRO.</li>
                        </ol>
                        <p>EL USO DEL SERVICIO DE LAS MAQUINAS, TANTO PARA INTERNET COMO PARA OTRO PROGRAMA ES DE 30 MINUTOS. A LA PERSONA QUE NO CUMPLA, SE LE RECOGERÁ LA CREDENCIAL DURANTE 3 DÍAS, POR LO QUE NO PODRÁ HACER USO DE LOS SERVICIOS DE LA BIBLIOTECA.</p>
                        <p>PARA ESTABLECER EL MEJOR APROVECHAMIENTO DE LOS RECURSOS BIBLIOTECARIOS DISPONIBLES, Y SALVAGUARDAR EL PATRIMONIO UNIVERSITARIO; SE DEBERÁ RESPETAR CUALQUIER OTRA DISPOSICIÓN QUE EL DEPARTAMENTO DE SERVICIOS ESCOLARES O EL CENTRO DE INFORMACIÓN CONSIDERE PERTINENTE.</p>

                    </div>
                </div><!-- End of Row -->
            </div>
        </div><!-- End of About Wrapper -->
               
                </div>
            </div>


            <div class="shell">
                <div class="container">
                                <!-- Aclaracion biblioteca wrapper -->
        <div class="about-wrapper">

            <div class="content">
                
                <!-- row -->
                <div class="row">
                    <p >PARA ESTABLECER EL MEJOR APROVECHAMIENTO DE LOS RECURSOS BIBLIOTECARIOS DISPONIBLES, Y SALVAGUARDAR EL PATRIMONIO UNIVERSITARIO; SE DEBERÁ RESPETAR CUALQUIER OTRA DISPOSICIÓN QUE EL DEPARTAMENTO DE SERVICIOS ESCOLARES O EL CENTRO DE INFORMACIÓN CONSIDERE PERTINENTE.</p>
                </div><!-- End of Row -->
            </div>
        </div><!-- End of About Wrapper -->
               
                </div>
            </div>





                       
                    </div>
                </div>
            </div>
            <!-- End of Container -->
    </section><!-- End of Section -->


    <!-- Section -->
    <%- include('../views/elements/footer.ejs'); %>
    <!-- End of Section -->

    <!-- core  -->
    <script src="/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap affix -->
    <script src="/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Creative Design js -->
    <script src="/js/creative-design.js"></script>

</body>

</html>